:root {
    --blue: #4481eb;
    --light-blue: #5995fd;
    --lighter-blue: #4481eb75;
    --darker-blue: #4d84e2;
    --light-grey : #f0f0f0;
    --red: #f40e0e;
    --darker-red: #e00f0f;
    --pink : #f40e6e;
}