<!-- navbar -->

<!-- logo -->
<div class="navBar d-flex justify-content-between align-items-center">
    <div class="logo m-top d-flex justify-content-start align-items-center" style="width: 33%; margin-left: 10px;">
        <p onclick="window.location='/'" style="z-index: 7; position: absolute">FORUMFOREACH</p>
    </div>
</div>